@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Gluten&family=Nanum+Gothic&display=swap');

/* 헤더구역 시작 */
#header {
    height:120px;
    position:relative;
    background:#000;
}
#header .logo img {
    width:200px;;
    height:90px;
    position:absolute;
    left:40px;
    top:50%;
    transform:translateY(-50%);
}

#header .navbox {
    position:absolute;
    left:400px;
}
#header .navbox li {
    float:left;
    font-size:40px;
    font-family: 'Gluten', cursive;
    color:white;
    line-height:120px;
}
#header .navbox li a {
    display:inline-block;
    padding:0 55px;
    padding-top:5px;
}

#header .loginbox {
    position:absolute;
    top:50%;
    right:0;
    transform:translateY(-50%);
    margin-right:50px;
}
#header .loginbox a {
    font-size:24px;
    font-family: 'Gluten', cursive;
    color:white;
    margin:0 10px;
}
/* 헤더구역 끝 */

/* 메인구역 시작 */
#section {
    background-image:url(../img/bg-d.jpg);
    background-repeat:no-repeat;
    height:700px;
    position:relative;
}
.loginform {
    position:absolute;
    top:28%;
    left:50%;
    transform:translateX(-50%);
    width:450px;
}
.loginform input {
    width:300px;
    height:38px;
    margin:8px 0;
    background:white;
    padding-left:10px;
}
.loginform input:first-child {
    margin-top:0;
}
.loginform form > button {
    width:120px;
    height:80px;
    position:absolute;
    top:0;
    right:0;
    background:black;
    color:white;
    font-weight:bold;
}
.loginform .loginbtn > button {
    width:145px;
    height:30px;
    margin:22px 0;
    background:black;
    color:white;
}
.login_list { 
    width:450px; 
    margin:0 auto;
    position:absolute;
    top:70%;
    left:50%;
    transform:translate(-50%,-47%);
}
.loginbox .login_list li a {
    display:block;
    height:63px; line-height:63px;
    text-align:center; 
    background-repeat:no-repeat;
    background-size:45px 45px;
    background-position:10px center;
    border-radius:8px; color:#fff;
    margin:9px 0; padding-left:30px; 
}
.loginbox .login_list li:nth-child(1) a {
    background-image:url(../img/ico_kakao.png);
    background-color:#ffea26; color:#000;
    transition:all 0.3s;
}
.loginbox .login_list li:nth-child(2) a {
    background-image:url(../img/ico_naver.png);
    background-color:#00c300;
    transition:all 0.3s;
}
.loginbox .login_list li:nth-child(3) a {
    background-image:url(../img/ico_google.png);
    background-color:rgb(160, 158, 158);
    background-size:30px 30px;
    background-position:17px center;
    transition:all 0.3s;
}
.loginbox .login_list li:nth-child(1) a:hover,
.loginbox .login_list li:nth-child(2) a:hover,
.loginbox .login_list li:nth-child(3) a:hover {
    opacity:0.8;
}
/* 메인구역 끝 */

/* 푸터구역 시작 */
#footer {
    height:60px;
    background:#363636;
    line-height:60px;
    padding:0 30px 0 60px;
    position:relative;
}
#footer .ftbox img {
    width:60px;
    height:25px;
    display:inline-block;
    margin-right:20px;
}
#footer .ftbox p {
    display:inline-block;
    color:#9b9b9b;
    font-size:12px;
    font-weight:bold;
    letter-spacing:0.5px;
}

#footer .ftright {
    position:absolute;
    right:50px;
    top:0;
}
#footer .ftright ul li {
    float:left;
}
#footer .ftright ul li a {
    font-size:14px;
    font-weight:bold;
    color:#9b9b9b;
    margin:0 15px;
    letter-spacing:-0.5px;
}
/* 푸터구역 끝 */